@media only screen and (min-width: 768px) {

    /* For desktop: */
    .featurette {
        margin: -2em 3em -2em 3em;
    }

    .featurette-divider {
        margin: 5rem 0;
    }

    .featurette-heading {
        font-weight: 300;
        line-height: 1;
        letter-spacing: -.05rem;
    }

    #areaLink {
        margin-top: -8em;
    }

    #intro {
        margin-bottom: -7em;
    }

    img {
        height: 500px;
        width: 500px;
    }

}

@media (min-width: 40em) {

    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    html, img {
        width: 100%;
    }

    body {
        margin: 0em 1em 0em 1em;
    }

    .col-md-7 {
        padding: 0em 1em 0em 1em;
    }

    .py-5 {
        padding-bottom: 0em !important;
    }

    .featurette-divider {
        margin: 2em 0em 2em 0em;
    }

    #arealink {
        padding-top: 0em !important;
        margin-bottom: 4em !important;
    }
}