body{
    background-color: #EB984E;
}

.carousel{
    margin: 50px;
    padding: 20px;
}

.brand img{
    width: 60px;
}

.padre{
    display: flex;
    padding-right: 90px;
}

.primero{
    text-align: left;
    margin: 30px;
    padding: 10px;
}

.segundo{
    margin: 30px;
}

h3 {
    text-align: left;
    background: #3cce37;
    padding: 20px;
    margin: 10px;
    width: 55%;
    color: azure;
    border-radius: 17%;

}

h2{
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}


.navbar-brand{
    color: azure;
    font-family: 'Times New Roman', Times, serif;
}

.nav-enlace{
    background: mediumpurple;
    color: beige;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
}

.nav-enlace:hover{
    background: purple;

}
nav{
    background: rgb(20, 88, 3) ;
    padding: 10px;
    display: flex;
    justify-content: space-around;

}

.x{

    background: mediumpurple;
    color: beige;
    padding: 10px 0;
    border: 2px solid beige;
    display: none;

}