.color{
	background-color: #afafff;
}


.galeria {
	display: flex;
	width: 88%;
	margin: auto;
	justify-content: space-around;
	flex-wrap: wrap;
	z-index: 1;
}

.galeria .foto {
	width: 400px;
	height: 400px;
	position: relative;
	margin-bottom: 35px;
	border-radius: 5px;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
	transition: 0.6s ease;
}
.galeria .foto:hover {
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.foto img {
	width: 400px;
	height: 400px;
	object-fit: cover;
	border-radius: 5px;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to top, #afafff 0%, #000000a1 100%);
	width: 100%;
	height: 0;
	transition: 0.55s ease;
	overflow: hidden;
}
.overlay h2 {
	color: rgb(0, 0, 0);
	font-size: 25px;
	font-family: 'Josefin Sans', sans-serif;
	position: absolute;
	top: 30%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}

.overlay h1{
	color: rgb(0, 0, 0);
	font-size: 25px;
	font-family: 'Josefin Sans', sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);

}

.overlay p {
	color: rgb(0, 0, 0);
	font-size: 15px;
	font-family: sans-serif;
	position: absolute;
	top: 80%;
	left: 50%;
	text-align: justify;
	transform: translate(-50%, -50%);
}

.foto:hover .overlay {
	height: 100%;
	cursor: pointer;
	border-radius: 5px;
}

/*---------------------*/

.contenedor-modal.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: #EB984E;
}

.gdf{
	text-align: center;
	font-family: sans-serif;
	font-size: 60px;
	margin: 1em;

}

.Pat{
	width: 3em;
}
#footer{
    background: #000000;
    color: azure;
}

img{
    border-radius: 75px;
}